.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
   /* background-image: url('../images/Seamless-Green-Grass-Texture.jpg')  */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Container */
.container {
    margin-top: 50px;
    background-color: rgba(255,255,255,0.7);
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Overwrite Bootstrap classes */


.label {
    display: block;
    margin: 10px;

}

.team .btn {
    font-size: 150%;
    width: 100%;
    height: 150%;
    line-height:46px;
    margin: 10px;
}
.playerList .label {
    font-size: 150%;
    width: 100%;
    height: 150%;
     line-height:46px;
}

.teamNone{
    border: 3px dashed black;
    color: #000000;
    background: transparent;
}

.team1{
    border: 3px dashed black;
    color: #000000;
    background: #d3d3d3;
}

.team2{
    border: 3px dashed black;
    color: #000000;
    background: lightcoral;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

.btn {
  font-size:150%;
}
